<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #333333;color: #9d9d9d">
<div class="container">${result}</div>
<script>
    $(function () {
        setInterval("getLog()",5000);
    });

    function getLog() {
        var url = "/getlog/${id!}";
        <#if isRemote??>
        var isRemote = "${isRemote?string('true','false')}";
        if (isRemote == 'false') {
            url = "/local/getlog/${id!}";
        }
        </#if>
        $.ajax({
            type: "POST",
            url: url,
            data: {},
            success: function(msg){
                if (msg != "") {
                    $(".container").append(msg);
                }
                if ($(".container p").length > 1000) {
                    $(".container p:lt(500)").remove();
                }
            }
        });
    }
</script>
</body>
</html>